html {
    font-size: 10px; /* The base font size is now 10 pixels high  */
    font-family: 'LAto', sans-serif; /* Output you got from Google fonts */
    background-color: #f6f6f6;
}

body {
    margin: 0 auto;
    padding: 0 25px;
}

h1 {
font-size: 60px;
text-align: center;
margin: 0;
padding: 20px 0; 
}

p, li {
font-size: 16px;  
line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
    width: 450px;
  }